body {
    background-color: #121212;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 1000;
    transition: transform 0.3s ease-out;
}

nav.hidden {
    transform: translateY(-100%);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.container {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

.playlist-header {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px; 
    width: 95%;
}

.playlist-header img {
    border-radius: 10px;
    margin-right: 20px;
}

.playlist-header .details {
    flex-grow: 1;
}

.playlist-header .details h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.playlist-header .details p {
    margin: 5px 0;
}

.playlist-header .details .info {
    font-size: 14px;
    color: #b3b3b3;
}

.song-card {
    background-color: #1e1e1e;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none; 
    color: white; 
}

.song-card img {
    border-radius: 10px;
    height: 150px; 
    width: 150px; 
    object-fit: cover;
    margin-right: 20px; 
}

.song-card .details {
    flex-grow: 1;
    text-align: right;
}

.song-card .details span {
    display: block;
    color: #b3b3b3;
}

.audio-player {
    display: flex;
    align-items: center;
}

.audio-player audio {
    margin-left: 10px;
}

